﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<body style="background-color:antiquewhite;">
    <div class="jumbotron">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="padding:0;width:100%;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/ımg/car.jpg" alt=".asdsandasjnd." title="Yeni sezon arabasi" style="width:100%; height:300px;">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/ımg/oy.jpg" alt="..." style="width:100%; height:300px;">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/ımg/pst.jpg" alt="..." style="width:100%; height:300px;">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel-body">
                <div class="col-md-5">
                    <img src="~/Content/ımg/hd.png" class="img-thumbnail" alt="Cinque Terre" width="500" height="400">
                </div>
                <div class="col-md-7">
                    <h2>HEDİYELER İÇİN</h2>
                    <p>
                        YENİ SEZONDA HEDİYELER SATIN ALMAK İÇİN

                    </p>
                    <p><a class="btn btn-default" href="#">Detaylari için&raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel-body">
                <div class="col-md-5">
                    <img src="~/Content/ımg/cm.png" class="img-thumbnail" alt="Cinque Terre" width="500" height="400">
                </div>
                <div class="col-md-7">
                    <h2>
                        bilgisayar ASUS
                    </h2>
                    <p>
                        satın almak için
                    </p>
                    <p><a class="btn btn-default" href="#">Detaylari için&raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel-body">
                <div class="col-md-5">
                    <img src="~/Content/ımg/car.jpg" class="img-thumbnail" alt="Cinque Terre" width="500" height="400">
                </div>
                <div class="col-md-7">
                    <h2>araba kiralama</h2>
                    <p>
                        arabamız 2016 model yepyeni aylık ve günlük kiraya verilir
                    </p>
                    <p><a class="btn btn-default" href="#">Detaylari için&raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel-body">
                <div class="col-md-5">
                    <img src="~/Content/ımg/bfl.jpg" class="img-thumbnail" alt="Cinque Terre" width="500" height="400">
                </div>
                <div class="col-md-7">
                    <h2> hoberlator</h2>
                    <p>
                        satın almak ve kiralamak için
                    </p>
                    <p><a class="btn btn-default" href="#">Detaylari için&raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</body>