﻿@model WebApplication3.Models.user

@{
    ViewBag.Title = "login";
}

<h2>login</h2>

@Html.LabelFor( u => u.name)
@Html.TextBoxFor(u => u.name)
<br />
@Html.LabelFor(u => u.password)
@Html.PasswordFor(u => u.password)
<input type="submit" value="login"/>
